# sample service file for systemd assuming that the script is installed to /usr/local/bin and has execute permission
# put this file to /etc/systemd/system
# enable it with 
#   systemctl enable deswappify
# (it will be started automaticall at boot time then)
# manually start it with
#   systemctl start deswappify

[Unit]
Description = deswappify_auto: automatically unswap large swap files when idle

[Service]
# for python2.7 remove -t 120 option (because subprocess doesn't support timeouts there)
# -l: log to systemd, -e: automatically perform swapoff -a && swapon -a
# -j 8: use 8 threads in parallel swap-in read operations
ExecStart = /usr/local/bin/deswappify_auto.py -l -e -j 8 -t 120

[Install]
WantedBy = multi-user.target
